<style type="text/css">
	header{
		position: fixed;
		top:30px;
		left: 0;
		width: 100%;
		z-index: 99999;
	}
	.txt-center{
		text-align: center;
	}
	.list-tab-main .active{
		color: #F7BE00;
	}
	.tab-main{
		text-transform: capitalize;
		color:#9B9B9B;
		line-height: 45px;
	}
	.btn-sign-up{
		border:1px solid #F7BE00;
		border-radius: 4px;
		height: 43px;
		line-height: 43px;
		padding: 0 12px;
		color:#F7BE00;
		text-transform: uppercase;
	}
	.btn-sign-up:hover{
		color:#F7BE00;
		text-decoration: none;
	}
	.btn-navigation{
		background: url(/content/images/ico-nav-grey.png) no-repeat;
		height: 45px;
		width: 45px;
		display: block;
		margin-left: 25px;
	}
	.container-box-login{
		width:750px;
	}
	.container-box-login .tag-how-it-work{
		width: 250px;
		height: 220px;
		background-color: #F7BE00;
		opacity: .9;
		position: relative;
	}
	.container-box-login .tag-how-it-work .btn-how-it-work{
		display: block;
		text-align: center;
		color:#fff;
		font-size: 24px;
		height: 220px;
	}
	.container-box-login .tag-how-it-work .btn-how-it-work p{
		padding:30px 0 60px;
	}
	.container-box-login .tag-how-it-work .btn-how-it-work i{
		font-size: 70px;
	}
	.container-box-login .main-log-in{
		width: 500px;
		height: 220px;
		background-color: #F7BE00;
		padding: 40px 50px 0;
	}
	.container-box-login .main-log-in .text-login{
		text-align: right;
		font-size: 17px;
		margin-bottom: 12px;
		color:#fff;
	}
	.container-box-login .main-log-in input{
		width: 100%;
		background-color: #fff;
		border-radius: 4px;
		margin-bottom: 10px;
		border:none !important;
		height: 35px;
		padding: 0 5px;
		font-size: 13px;
	}
	.cut-corner-login{
		position: relative;
	}
	.cut-corner-login .traingle-top-login{
		position: absolute;
		top:-30px;
		left: 30px;
		z-index: 3;
		width: 0;
		height: 0;
		border-left: 720px solid transparent;
		border-right: 1px solid transparent;
		border-bottom: 30px solid #F7BE00;
		opacity: .9
	}
	.cut-corner-login .cut-corner-left{
		margin-left: 30px;
		position: relative;
		background-color: #F7BE00;
		opacity: .9;
		height: 30px;
		width: 220px;
	}
	.cut-corner-login .cut-corner-left span{
		    position: absolute;
		    top: 12px;
		    transform: rotate(135deg);
		    left: -29px;
		    border-left: 22px solid transparent;
		    border-right: 22px solid transparent;
		    border-bottom: 22px solid #F7BE00;
		    z-index: 33;
	}
	.cut-corner-login .cut-corner-right{
		background-color: #F7BE00;
		height: 30px;
		width: 500px;
	}
	.fix-bottom{
		position: fixed;
		bottom: 0;right: 0;
		z-index: 33;
	}
	.title-page{
		color:#F7BE00;
		text-transform: uppercase;
		font-size: 28px;
		margin:50px 0 30px;
		text-align: center;
		font-weight: 300;
	}
	.container-how-it-work{
		position: relative;
	}
</style>
<header>
	<div class="container">
		<div class="row clearfix">
			<div class="col-sm-3">
				<img src="/content/images/logo.png" width="97" />
			</div>
			<div class="col-sm-6 txt-center">
				<div class="list-tab-main">
					 <a href="#" class="tab-main active">Consumer</a>
					 <span style="margin:0 4px;color:#9B9B9B;">|</span>
					 <a href="#" class="tab-main">Advertiser</a>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="clearfix">
					<a href="#" class="btn-navigation pull-right"></a>
					<a href="#" class="btn-sign-up pull-right">sign up</a>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="container-content">
	<div class="fix-bottom clearfix" style="display:none;">
		<div class="cut-corner-login clearfix">
			<div class="traingle-top-login"></div>
			<div class="cut-corner-left pull-left"><span></span></div>
			<div class="cut-corner-right pull-left"></div>
		</div>
		<div class="container-box-login clearfix">
			<div class="tag-how-it-work pull-left">
				<a href="#howitwork" class="btn-how-it-work">
					<p class="txt-center">See how it works</p>
					<i class="txt-center fa fa-angle-down"></i>
				</a>
			</div>
			<div class="main-log-in pull-left">
				<p class="text-login">Login</p>
				<input type="text" name="" placeholder="Username">
				<input type="text" name="" placeholder="Password">
			</div>
		</div>
	</div>
	<div id="slider-content" style="background:url(http://i-cdn.phonearena.com/images/articles/169651-image/loudmusic-main.jpg) no-repeat bottom center;height:805px;">

	</div>
	<div id="howitwork" class="container-how-it-work">
		<h4 class="title-page">how it works</h4>
		<div class="container">
			<div class="row clearfix">
				<div class="col-sm-4">
					
				</div>
				<div class="col-sm-4">

				</div>
				<div class="col-sm-4">

				</div>
			</div>
		</div>
	</div>
</div>
