<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
	<meta charset="utf-8" />
	<title>Kaching</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,500,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<!--<meta name="google-site-verification" content="" />-->
	<meta name="keywords" content="aaaaa" />
	<meta name="description" content="ccccc" />
	<meta name="author" content="ULab" />
	<meta name="robots" content="index, follow" />
	<meta name="Copyright" content="Copyright by cccc. All Rights Reserved." />

	<meta name="title" content="" />
	<meta name="DC.title" content="xxxx" />
	<meta name="DC.subject" content="ccc" />
	<meta name="DC.creator" content="ULab" />

	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="cleartype" content="on" />
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="pragma" content="no-cache" />

	<link rel="shortcut icon" type="image/x-icon" href="/content/favicon/favicon.ico">

	<!-- build:css content/css/vendor.css -->
	<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<link href="bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker.css" />
	<link rel="stylesheet" href="bower_components/flickity/css/flickity.css" />
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css content/css/main.css -->
	<!--STYLES-->
	<link rel="stylesheet" href="content/css/01-custom-font.css">
	<link rel="stylesheet" href="content/css/02-typography.css">
	<link rel="stylesheet" href="content/css/02-zcommon-res.css">
	<link rel="stylesheet" href="content/css/03-common.css">
	<link rel="stylesheet" href="content/css/home.css">
	<link rel="stylesheet" href="content/css/login.css">
	<!--STYLES END-->
	<!-- endbuild -->
</head>
<body ng-attr-class="{{settings.layout.bodyLayout}}" ng-controller="AppController">
	<page-header ng-show="!settings.layout.isHidePageHeader"></page-header>
	<div ui-view class="main-content-container"></div>

	<!-- build:js content/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/moment/moment.js"></script>
	<script src="bower_components/lodash/lodash.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
	<script src="bower_components/angular-messages/angular-messages.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/restangular/dist/restangular.js"></script>
	<script src="bower_components/ngstorage/ngStorage.js"></script>
	<script src="bower_components/bootbox.js/bootbox.js"></script>
	<script src="bower_components/ngHelperDynamicTemplateLoader/ngHelperDynamicTemplateLoader.js"></script>
	<script src="bower_components/ngHelperDynamicTemplateLoader/ngHelperDynamicTemplateLoaderCachingStrategies.js"></script>
	<script src="bower_components/angular-touch/angular-touch.js"></script>
	<script src="bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>
	<script src="bower_components/highstock/highstock.js"></script>
	<script src="bower_components/highstock/highcharts-more.js"></script>
	<script src="bower_components/highstock/modules/exporting.js"></script>
	<script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="bower_components/angular-daterangepicker/js/angular-daterangepicker.js"></script>
	<script src="bower_components/angular-ui-utils/ui-utils.js"></script>
	<script src="bower_components/angular-ui-map/ui-map.js"></script>
	<script src="bower_components/classie/classie.js"></script>
	<script src="bower_components/eventie/eventie.js"></script>
	<script src="bower_components/doc-ready/doc-ready.js"></script>
	<script src="bower_components/eventEmitter/EventEmitter.js"></script>
	<script src="bower_components/matches-selector/matches-selector.js"></script>
	<script src="bower_components/fizzy-ui-utils/utils.js"></script>
	<script src="bower_components/get-style-property/get-style-property.js"></script>
	<script src="bower_components/get-size/get-size.js"></script>
	<script src="bower_components/unipointer/unipointer.js"></script>
	<script src="bower_components/tap-listener/tap-listener.js"></script>
	<script src="bower_components/unidragger/unidragger.js"></script>
	<script src="bower_components/flickity/dist/flickity.pkgd.min.js"></script>
	<!-- endbower -->
	<script src="app/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="app/lib/charts/orgchart/jquery.orgchart.min.js"></script>
	<script src="app/lib/charts/solid-gauge.js"></script>
	<script src="app/lib/turnjs4/lib/turn.js"></script>
	<!-- endbuild -->
	<!-- build:js content/templates.js -->
	<!-- endbuild -->
	<!-- build:js({www,assets}) content/scripts.js -->
	<!--SCRIPTS-->
	<script src="app/lib/extensions.js"></script>
	<script src="app/app.js"></script>
	<script src="app/controllers.js"></script>
	<script src="app/directives.js"></script>
	<script src="app/filters.js"></script>
	<script src="app/models.js"></script>
	<script src="app/services.js"></script>
	<script src="app/constants/app-constant.js"></script>
	<script src="app/states/main.js"></script>
	<script src="app/models/base-view-model.js"></script>
	<script src="app/models/brand-model.js"></script>
	<script src="app/models/campaign-model.js"></script>
	<script src="app/models/new-campaign-trigger-view-model.js"></script>
	<script src="app/models/querry-model.js"></script>
	<script src="app/models/trigger-model.js"></script>
	<script src="app/filters/custom-filters.js"></script>
	<script src="app/services/analytics-service.js"></script>
	<script src="app/services/auth-service.js"></script>
	<script src="app/services/base-service.js"></script>
	<script src="app/services/brand-service.js"></script>
	<script src="app/services/campaign-service.js"></script>
	<script src="app/services/dashboard-service.js"></script>
	<script src="app/services/order-service.js"></script>
	<script src="app/services/popup-message-service.js"></script>
	<script src="app/services/product-service.js"></script>
	<script src="app/services/user-service.js"></script>
	<script src="app/controllers/app-controller.js"></script>
	<script src="app/controllers/auth-controller.js"></script>
	<script src="app/controllers/home-controller.js"></script>
	<script src="app/controllers/sign-in-controller.js"></script>
	<script src="app/directives/app-password-match.js"></script>
	<script src="app/directives/app-validate-after-blur.js"></script>
	<script src="app/directives/container-toggle.js"></script>
	<script src="app/directives/ng-spinner-bar.js"></script>
	<script src="app/directives/page-footer.js"></script>
	<script src="app/directives/page-header.js"></script>
	<script src="app/directives/page-leftbar.js"></script>
	<script src="app/directives/product-image-directive.js"></script>
	<script src="app/directives/trigger-campaign-image.js"></script>
	<script src="app/directives/utilities-directive.js"></script>
	<!--SCRIPTS END-->
	<!-- endbuild -->
	<!-- Include the External JS -->
	
	<!-- Start of ulab Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","ulab.zendesk.com");
/*]]>*/</script>
<!-- End of ulab Zendesk Widget script -->
</body>
</html>