﻿@import 'mixin/_mixin.scss';

.btn.loading, a.btn.loading:visited {
	background-image: url('../images/preloader2.gif');
	background-position: center center;
	background-repeat: no-repeat;
	color: transparent !important;
	cursor: default;

	&.btn-custom-v1 {
		background-color: #dfdddd;
	}
}


body {
	font-family: 'gotham';
	font-weight: 300;
	font-size: 16px;
}

.m-bottom-20 {
	margin-bottom: 20px;
}
.des-newlines{
	white-space: pre-wrap;
}
.btn-custom-v1{
	background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
    color: #999;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 300;
    margin-right: 10px;
}
.main-content-all {
	padding-top: 55px;

	.page-title {
		font-size: 40px;
		font-weight: 500;
		color: #8f989e;

		&.v1 {
			border-bottom: 1px solid #ddd;
			margin-bottom: 20px;
		}
	}
}

.page-header {
	margin-top: 0;
	height: 55px;
	margin-bottom: 0;
	padding-bottom: 0;
	background-color: #1e2225;
	position: fixed;
	width: 100%;
	z-index: 1049;

	.navbar-nav {
		> li > a.profile-info {
			padding-top: 0;
			padding-bottom: 0;
			heigth: 55px;
			padding-top: 12.5px;
			padding-bottom: 12.5px;

			&:hover,
			&:focus {
				background-color: #8f989e;
			}
		}
	}

	.nav {
		.dropdown-menu {
			width: 100%;

			li {
				a {
					padding-top: 10px;
					padding-bottom: 10px;
					cursor: pointer;
				}
			}
		}

		.open > a {
			&:hover,
			&:focus {
				background-color: #8f989e;
			}
		}
	}



	.navbar-brand {
		padding-top: 12px;
	}

	.navbar-right {
		margin-right: 0;
	}

	.u-name {
		color: #fff;
		padding-right: 15px;
		padding-top: 5px;
	}
}

.navbar-fixed-left {
	z-index: 1;
	position: fixed;
	width: 260px;
	margin-top: 54px;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #8f989e;
	-webkit-box-shadow: inset -10px 0px 17px -8px rgba(0,0,0,0.76);
	-moz-box-shadow: inset -10px 0px 17px -8px rgba(0,0,0,0.76);
	box-shadow: inset -10px 0px 17px -8px rgba(0,0,0,0.76);


	.left-menu {
		.media {
			padding: 17px 5px 17px 10px;
			margin-top: 0;
			background-color: #8f989e;
			border-bottom: 1px solid #a5adb1;
			-webkit-box-shadow: inset -10px 0px 17px -8px rgba(0,0,0,0.76);
			-moz-box-shadow: inset -10px 0px 17px -8px rgba(0,0,0,0.76);
			box-shadow: inset -10px 0px 17px -8px rgba(0,0,0,0.76);

			&:hover,
			&.active {
				cursor: pointer;

				.media-body {
					.media-heading {
						color: #222;
					}
				}

				.icon-dashboard {
					background-position: 0 0;
				}

				.icon-product {
					background-position: 0 0;
				}

				.icon-order {
					background-position: 0 0;
				}

				.icon-account {
					background-position: 0 0;
				}

				.icon-analytics {
					background-position: 0 0;
				}

				.icon-tutorial {
					background-position: 0 0;
				}

				.icon-faqs {
					background-position: 0 0;
				}
			}

			.media-left {
				padding-left: 5px;

				div {
					transition: all 0.3s ease;
					-moz-transition: all 0.3s ease;
					-webkit-transition: all 0.3s ease;
				}
			}

			.media-body {
				.media-heading {
					font-size: 16px;
					font-weight: 300;
					color: #fff;
				}
			}

			.icon-dashboard {
				min-width: 40px;
				height: 37px;
				background-size: 100%;
				background-position: 0 -43px;
			}

			.icon-product {
				min-width: 40px;
				height: 40px;
				background-size: 100%;
				background-position: 0 -40px;
			}

			.icon-order {
				min-width: 40px;
				height: 40px;
				background-size: 100%;
				background-position: 0 -40px;
			}

			.icon-account {
				min-width: 40px;
				height: 33px;
				background-size: 100%;
				background-position: 0 -47px;
			}

			.icon-analytics {
				min-width: 40px;
				height: 33px;
				background-size: 100%;
				background-position: 0 -47px;
			}

			.icon-tutorial {
				min-width: 40px;
				height: 43px;
				background-size: 100%;
				background-position: 0 -44px;
			}

			.icon-faqs {
				min-width: 40px;
				height: 40px;
				background-size: 100%;
				background-position: 0 -40px;
			}
		}
	}
}

.btn-custom-v1 {
	background-color: #dfdddd;
	background: linear-gradient(to bottom, #f4f5f5 0%, #dfdddd 100%);
	color: #666666;
	border-radius: 8px;
	font-size: 20px;
	font-weight: 300;
	margin-right: 10px;
	border: 1px solid #e3e3e3;
	text-transform: uppercase;
	outline: none;

	&:focus {
		background-color: #dfdddd;
		outline: none !important;
	}

	.icon-save {
		background-image: url(../content/images/ic/ic_save.png);
		height: 23px;
		width: 21px;
		background-size: 100%;
		background-repeat: no-repeat;
		display: inline-block;
		float: left;
		margin: auto;
		margin-right: 10px;
	}
}




.btn-group {
	&.btn-group-custom-v1 {
		width: 100%;
		position: relative;

		.btn {
			background-color: #fff;
			font-size: 16px;
			font-weight: 300;
			border: 1px solid #ddd;
			border-radius: 5px;
			text-align: left;
			overflow: hidden;
			text-overflow: ellipsis;
			padding-right: 30px;
			width: 100%;
		}

		.glyphicon {
			position: absolute;
			right: 10px;
			top: 12px;
		}

		.ellipsis {
			flex: 1;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

.no-margin {
	margin: 0;
}


.btn .icon-save {
	background-image: url(../images/ic_save.png);
	height: 23px;
	width: 21px;
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	float: left;
	margin: auto;
	margin-right: 15px;
}

.dropdown-menu {
	&.dropdown-menu-v1 {
		width: 100%;
		max-height: 200px;
		overflow-y: auto;

		> li > a {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

.highcharts-container {
	max-width: 100%;
}


@media (min-width: 1200px) {
	.main-content-all {
		.container-fluid {
			padding: 30px;
		}
	}
}

@media (min-width: 992px) {
	.main-content-all {
		.container-fluid {
			padding-top: 30px;
		}
	}
}

@media (min-width: 768px) {
	.main-content-all {
		.container-fluid {
			padding-top: 30px;
		}
	}
}

.more-text{
	display: none
}
.read-more{
	color : #8f989e;
	cursor: pointer;
	font-weight: bold
}


/*common-checkbox-radio*/
.checkbox {
    padding-left: 20px;
}

    .checkbox label {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding-left: 5px;
    }

        .checkbox label::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 17px;
            height: 17px;
            left: 0;
            margin-left: -20px;
            border: 1px solid #cccccc;
            border-radius: 3px;
            background-color: #fff;
            -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        }

        .checkbox label::after {
            display: inline-block;
            position: absolute;
            width: 16px;
            height: 16px;
            left: 0;
            top: 0;
            margin-left: -20px;
            padding-left: 3px;
            padding-top: 1px;
            font-size: 11px;
            color: #555555;
        }

    .checkbox input[type="checkbox"],
    .checkbox input[type="radio"] {
        opacity: 0;
        z-index: 1;
    }

        .checkbox input[type="checkbox"]:focus + label::before,
        .checkbox input[type="radio"]:focus + label::before {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

        .checkbox input[type="checkbox"]:checked + label::after,
        .checkbox input[type="radio"]:checked + label::after {
            font-family: "FontAwesome";
            content: "\f00c";
        }

        .checkbox input[type="checkbox"]:disabled + label,
        .checkbox input[type="radio"]:disabled + label {
            opacity: 0.65;
        }

            .checkbox input[type="checkbox"]:disabled + label::before,
            .checkbox input[type="radio"]:disabled + label::before {
                background-color: #eeeeee;
                cursor: not-allowed;
            }

    .checkbox.checkbox-circle label::before {
        border-radius: 50%;
    }

    .checkbox.checkbox-inline {
        margin-top: 0;
    }

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #337ab7;
    border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
    color: #fff;
}

.radio {
    padding-left: 20px;
}

    .radio label {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding-left: 5px;
    }

        .radio label::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 17px;
            height: 17px;
            left: 0;
            margin-left: -20px;
            border: 1px solid #cccccc;
            border-radius: 50%;
            background-color: #fff;
            -webkit-transition: border 0.15s ease-in-out;
            -o-transition: border 0.15s ease-in-out;
            transition: border 0.15s ease-in-out;
        }

        .radio label::after {
            display: inline-block;
            position: absolute;
            content: " ";
            width: 11px;
            height: 11px;
            left: 3px;
            top: 3px;
            margin-left: -20px;
            border-radius: 50%;
            background-color: #d15090;
            -webkit-transform: scale(0, 0);
            -ms-transform: scale(0, 0);
            -o-transform: scale(0, 0);
            transform: scale(0, 0);
            -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
            transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        }

    .radio input[type="radio"] {
        opacity: 0;
        z-index: 1;
    }

        .radio input[type="radio"]:focus + label::before {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

        .radio input[type="radio"]:checked + label::after {
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -o-transform: scale(1, 1);
            transform: scale(1, 1);
        }

        .radio input[type="radio"]:disabled + label {
            opacity: 0.65;
        }

            .radio input[type="radio"]:disabled + label::before {
                cursor: not-allowed;
            }

    .radio.radio-inline {
        margin-top: 0;
    }

.radio-primary input[type="radio"] + label::after {
    background-color: #337ab7;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #337ab7;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #337ab7;
}

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
    color: #fff;
}

input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
    color: #fff;
}
/*end common*/