<div class="container">
	<div class="home-section-1">
		<div class="group-countdown">
			<div class="media">
			  <div class="media-left">
			    <a href="#">
			      <img class="media-object" data-src="holder.js/128x128" alt="128x128" style="width: 180px;" src="content/images/kaching-logo.png" data-holder-rendered="true">
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Count down to next Jackpot Daw</h4>
			    <div class="media-time clearfix">
			    	<ul>
			    		<li>
			    			<div class="time">02</div>
			    			<div class="abv">D</div>
			    		</li>
			    		<li>
			    			<div class="time">28</div>
			    			<div class="abv">H</div>
			    		</li>
			    		<li>
			    			<div class="time">11</div>
			    			<div class="abv">M</div>
			    		</li>
			    		<li>
			    			<div class="time">34</div>
			    			<div class="abv">S</div>
			    		</li>
			    	</ul>
			   	</div>
			   	<p>
			   		Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			   	</p>
			  </div>
			</div>

			<div class="congratulation">
				<img src="content/images/congratulate-mobile.png"/>
			</div>
		</div>
	</div>
	<div class="home-section-2">
	  <div class="row">
	    <div class="col-md-6">
	    	<div class="hs-v2 prize-won">
	    		<div class="top clearfix">
	    			<div class="title">Prize Won</div>
	    			<div class="date-range">
	    				<div class="dropdown">
							  <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							    Date range
							    <span class="caret"></span>
							  </a>
							</div>
	    			</div>
	    		</div>
	    		<div class="content">
	    			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						  <!-- Wrapper for slides -->
						  <div class="carousel-inner" role="listbox">
						    <div class="item active">
						      <div class="top clearfix">
						      	<div class="slide-title">Week 1 February 2016</div>
						      	<div class="price">USD 100</div>
						      </div>
						      <div class="content">
						      	<div class="mini-item">
						      		<div class="img">
						      			<img src="/content/images/cup.png" />
						      		</div>
						      		<div class="num">1</div>
						      		<div class="text">win</div>
						      	</div>
						      	<div class="mini-item">
						      		<div class="img">
						      			<img src="/content/images/circle.png" />
						      		</div>
						      		<div class="num">35</div>
						      		<div class="text">coins</div>
						      	</div>
						      	<div class="mini-item">
						      		<div class="img">
						      			<img src="/content/images/people.png" />
						      		</div>
						      		<div class="num">3</div>
						      		<div class="text">invited friends</div>
						      	</div>
						      </div>
						    </div>
						    <div class="item">
						      <div class="top clearfix">
						      	<div class="slide-title">Week 1 February 2016</div>
						      	<div class="price">USD 100</div>
						      </div>
						      <div class="content">
						      	<div class="mini-item">
						      		<div class="img">
						      			<img src="/content/images/cup.png" />
						      		</div>
						      		<div class="num">1</div>
						      		<div class="text">win</div>
						      	</div>
						      	<div class="mini-item">
						      		<div class="img">
						      			<img src="/content/images/circle.png" />
						      		</div>
						      		<div class="num">35</div>
						      		<div class="text">coins</div>
						      	</div>
						      	<div class="mini-item">
						      		<div class="img">
						      			<img src="/content/images/people.png" />
						      		</div>
						      		<div class="num">3</div>
						      		<div class="text">invited friends</div>
						      	</div>
						      </div>
						    </div>
						  </div>

						  <!-- Controls -->
						  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
						  </a>
						</div>
	    		</div>
    		</div>
	    </div>
  		<div class="col-md-6">
  			<div class="hs-v2 coin-earned">
	    		<div class="top clearfix">
	    			<div class="title">Coins Earned</div>
	    			<div class="date-range">
	    				<div class="dropdown">
							  <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							    Date range
							    <span class="caret"></span>
							  </a>
							</div>
	    			</div>
	    		</div>

	    		<div class="content">
	    			<ul>
	    				<li class="clearfix highlight">
	    					<div class="month">February 2016</div>
	    					<div class="coins">123 Coins</div>
	    				</li>
	    				<li class="clearfix">
	    					<div class="month">February 2016</div>
	    					<div class="coins">123 Coins</div>
	    				</li>
	    				<li class="clearfix">
	    					<div class="month">February 2016</div>
	    					<div class="coins">123 Coins</div>
	    				</li>
	    				<li class="clearfix">
	    					<div class="month">February 2016</div>
	    					<div class="coins">123 Coins</div>
	    				</li>
	    				<li class="clearfix">
	    					<div class="month">February 2016</div>
	    					<div class="coins">123 Coins</div>
	    				</li>
	    			</ul>
	    		</div>
    		</div>
  		</div>
	  </div>
	</div>
	<div class="home-section-3">
		<div class="recent-activies">
			<div class="top clearfix">
				<div class="title">Recent Activities</div>
				<div class="date-range">
					<div class="dropdown">
						  <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						    Date range
						    <span class="caret"></span>
						  </a>
						</div>
				</div>
			</div>

			<div class="gallery collection-video js-flickity main-carousel" >
			  <div class="gallery-cell">
			  	<div class="content">
			  		<div class="title">
			  			Viewed on 12/04/2016
			  		</div>
			  		<div class="video" style="background: url('/content/images/386_2.jpg') no-repeat center center; ">
			  			<i class="fa fa-play-circle"></i>
			  		</div>
			  	</div>
			  </div>
			  <div class="gallery-cell">
			  	<div class="content">
			  		<div class="title">
			  			Viewed on 12/04/2016
			  		</div>
			  		<div class="video" style="background: url('/content/images/386_3.jpg') no-repeat center center;">
			  			<i class="fa fa-play-circle"></i>
			  		</div>
			  	</div>
			  </div>
			  <div class="gallery-cell">
			  	<div class="content">
			  		<div class="title">
			  			Viewed on 12/04/2016
			  		</div>
			  		<div class="video" style="background: url('/content/images/386_4.jpg') no-repeat center center;">
			  			<i class="fa fa-play-circle"></i>
			  		</div>
			  	</div>
			  </div>
			  <div class="gallery-cell">
			  	<div class="content">
			  		<div class="title">
			  			Viewed on 12/04/2016
			  		</div>
			  		<div class="video" style="background: url('/content/images/386_5.jpg') no-repeat center center;">
			  			<i class="fa fa-play-circle"></i>
			  		</div>
			  	</div>
			  </div>
			  <div class="gallery-cell">
			  	<div class="content">
			  		<div class="title">
			  			Viewed on 12/04/2016
			  		</div>
			  		<div class="video" style="background: url('/content/images/386_6.jpg') no-repeat center center; ">
			  			<i class="fa fa-play-circle"></i>
			  		</div>
			  	</div>
			  </div>
			  <div class="gallery-cell">
			  	<div class="content">
			  		<div class="title">
			  			Viewed on 12/04/2016
			  		</div>
			  		<div class="video" style="background: url('/content/images/386_7.jpg') no-repeat center center;">
			  			<i class="fa fa-play-circle"></i>
			  		</div>
			  	</div>
			  </div>
			  <div class="gallery-cell">
			  	<div class="content">
			  		<div class="title">
			  			Viewed on 12/04/2016
			  		</div>
			  		<div class="video" style="background: url('/content/images/386_3.jpg') no-repeat center center; ">
			  			<i class="fa fa-play-circle"></i>
			  		</div>
			  	</div>
			  </div>
			</div>
		</div>
	</div>

	<div class="home-section-4">
		<div class="recent-activies">
			<div class="top clearfix">
				<div class="title">Brougth Products</div>
				<div class="date-range">
					<div class="dropdown">
						  <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						    Date range
						    <span class="caret"></span>
						  </a>
						</div>
				</div>
			</div>

			<div class="gallery js-flickity main-carousel" >
			  <div class="gallery-cell">
			  	<div class="content">
			  		<div class="img">
				  		<img src="/content/images/shirt.png" />
				  	</div>
				  	<div class="details">
				  		<div class="name">Nike sweatshirt</div>
				  		<div class="price">$8.99</div>
				  	</div>
			  	</div>
			  </div>
			  <div class="gallery-cell">
			  	<div class="content">
			  		<div class="img">
				  		<img src="/content/images/shirt.png" />
				  	</div>
				  	<div class="details">
				  		<div class="name">Nike sweatshirt</div>
				  		<div class="price">$8.99</div>
				  	</div>
			  	</div>
			  </div>
			  <div class="gallery-cell">
			  	<div class="content">
			  		<div class="img">
				  		<img src="/content/images/shirt.png" />
				  	</div>
				  	<div class="details">
				  		<div class="name">Nike sweatshirt</div>
				  		<div class="price">$8.99</div>
				  	</div>
			  	</div>
			  </div>
			  <div class="gallery-cell">
			  	<div class="content">
			  		<div class="img">
				  		<img src="/content/images/shirt.png" />
				  	</div>
				  	<div class="details">
				  		<div class="name">Nike sweatshirt</div>
				  		<div class="price">$8.99</div>
				  	</div>
			  	</div>
			  </div>
			  <div class="gallery-cell">
			  	<div class="content">
			  		<div class="img">
				  		<img src="/content/images/shirt.png" />
				  	</div>
				  	<div class="details">
				  		<div class="name">Nike sweatshirt</div>
				  		<div class="price">$8.99</div>
				  	</div>
			  	</div>
			  </div>
			  <div class="gallery-cell">
			  	<div class="content">
			  		<div class="img">
				  		<img src="/content/images/shirt.png" />
				  	</div>
				  	<div class="details">
				  		<div class="name">Nike sweatshirt</div>
				  		<div class="price">$8.99</div>
				  	</div>
			  	</div>
			  </div>
			  <div class="gallery-cell">
			  	<div class="content">
			  		<div class="img">
				  		<img src="/content/images/shirt.png" />
				  	</div>
				  	<div class="details">
				  		<div class="name">Nike sweatshirt</div>
				  		<div class="price">$8.99</div>
				  	</div>
			  	</div>
			  </div>
			</div>
		</div>
	</div>
</div>

<style>

.carousel .item .top {
    padding: 10px 15px;
    margin-bottom: 20px;
}

.carousel .slide-title {
	float: left;
    color: #f7be0c;
}
.carousel .price {
    float: right;
    color: #f7be0c;
}

.carousel .content .mini-item{
	float: left;
    width: 33%;
    text-align: center;
}

.carousel .content .mini-item .img img {
    height: 60px;
}

.carousel .content .mini-item .num{
	color: #f7be0c;
    margin-top: 10px;
    font-size: 18px;
}

.carousel .content .mini-item .text{
	    margin-top: 0px;
    color: #fff;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
	margin-left: -30px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
	margin-right: -30px;
}


.home-section-1 .group-countdown{
	margin-bottom: 20px;
    position: relative;
    padding-right: 180px;
    min-height: 228px;
}

.group-countdown .congratulation{
	position: absolute;
    right: 0;
    top: 0;
}

.group-countdown .congratulation img{
	max-width: 170px
}
.group-countdown .media-body ul{
	padding: 0; margin: 0;
	list-style: none
}

.group-countdown .media-body ul li {
  float: left;
  width: 80px;
  text-align: center;
  position: relative
}

.group-countdown .media-body ul li .time {
  font-size: 40px;
  font-weight: 400;
  color: #353945;
}

.group-countdown .media-body ul li .abv {
  font-size: 18px;
  color: #88898d;
}

.group-countdown .media-body ul li::after { 
  content: ":";
  position: absolute;
  right:0;top: 15px;
  font-size: 20px
}

.group-countdown .media-body ul li:last-child::after{
	content: "";
}

.group-countdown .media-heading {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 30px;
  color: #f7be0c;
  font-weight: 300;
  margin-left: 13px;
}
.group-countdown .media-time{
	margin-bottom: 10px
}
.group-countdown p{
	margin-left: 13px;
}

.group-countdown .media-body{
	max-width: 700px;
}


.home-section-2,
.home-section-3,
.home-section-4{
	margin-bottom: 30px;
}
.hs-v2 .title{
    float: left;
    font-size: 30px;
    color: #f7be0c
}

.hs-v2 .date-range {
    float: right;
    margin-top: 10px;
}


.hs-v2.coin-earned ul {
    padding: 0;
}
.hs-v2.coin-earned ul li{
    list-style: none;
    padding: 10px;
    background-color: #e6e6e6;
    color: #474747
}
.hs-v2.coin-earned ul li.highlight{
	font-weight: bold;
}
.hs-v2.coin-earned ul li:nth-child(odd){
    background-color: #dadada
}
.hs-v2.coin-earned ul li .month{
    float: left;
}

.hs-v2.coin-earned ul li .coins{
    float: right;
}

.hs-v2.prize-won .carousel{
	height: 210px;
    background-color: #293038;
}

.recent-activies .top .title{
	float: left;
    font-size: 30px;
    color: #f7be0c;
}

.recent-activies .top .date-range{
	float: right;
    margin-top: 10px;
}

.date-range .dropdown a{
	color: #2b2e35;
}

/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  background: #f1f1f1;
  padding: 15px;
}

.gallery-cell {
  width: 18%;
  height: 250px;
  margin-right: 10px;
  background: #343b45;
  counter-increment: gallery-cell;
  border-radius: 8px;
}

.gallery-cell.is-selected {
  /*background: #ED2;*/
}

.gallery-cell .content .img {
    text-align: center;
    padding: 15px;
}
.gallery-cell .content .img img {
    height: 150px;
}

.gallery-cell .content .details {
    background-color: #4d545e;
    color: #fff;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 0 8px 8px;
}

.gallery-cell .details .price {
    color: #aaaeb7;
}

.gallery.collection-video .gallery-cell{
	width: 23%;
	background-color: transparent;
}
.gallery.collection-video .gallery-cell .title {
    color: #484848;
    padding: 10px 10px 10px 0;
}
.gallery.collection-video .gallery-cell .video{
	border-radius: 8px;
	position: relative;
	width: 100%;height: 200px;background-size: cover;
}

.gallery.collection-video .gallery-cell .video .fa{
	position: absolute;
    font-size: 40px;
    color: #fff;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
}

.gallery.collection-video .flickity-prev-next-button{
	top: 155px;
}
/* cell number */
/*.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
*/
</style>

<script type="text/javascript">
	$('.main-carousel').flickity({
	  cellAlign: 'left',
	  contain: true,
	  pageDots: false,
	  wrapAround: true
	});
</script>
